*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    color: #445161
}
h2 {
    font-size: 25px;
    color: #445161;
    
}

.text{
    color: #333333;
    line-height: 20px;
}

.bold-text{
    color: #333333;
    font-weight: bold;
    line-height: 18px;

}

.red-text{
    color:red;
}

.align-right{
    text-align: right;
    color: #333333;
}

.uppercase{
    color: #333333;
    text-transform: uppercase;
    line-height: 20px;
}

.italic{
    color: #333333;
    font-style: italic;
    line-height: 14px;
}

.underline{
    color:#333333;
    text-decoration: underline;
}

.center{
    color:#333333;
    text-align: center;
    line-height: 15px;
}

.fontsize{
    color:#333333;
    font-size: 20px;
    font-weight: 520;
}

.line-through{
    color:#333333;
    text-decoration: line-through;
    line-height: 15px;
}

p.sometxt{
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
    font-size: 15px;
}

.shadwotxt{
    text-shadow: 1px 0.5px 1px black;
}