

.block{
    border: 2px solid black;
    margin: 0px auto;
    height: 1800px;
    max-width: 800px;
    position: relative;
 
}

.block div{
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}

.block1{
    background-color: burlywood;
}

.block2{
    background-color: cadetblue;
    top: 0;
    left:0;
}

.block3{
    position: relative;
    background-color: cornflowerblue;
    
}